/*
Theme Name: Musicsong Child
Theme URI: https://justfreethemes.com/demo/?theme=Musicsong
description: Musicsong Child Theme
Author: Shaun Pace
Author URI: http://example.com
Template: Musicsong
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
Text Domain: Musicsong-child
*/

/*Modification 1: Increased overlay on the header images*/
.overlay {
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5 !important;
}

/*Theme modification 2: added hover effect on latest releases*/
#latest-albums .entry-title a:hover{
    font-size: 30px;
    opacity: 0.8;
    transition: 0.3s ease-in-out;
}

/*Theme Modification 3: added a min height to the posts and arranged the buttons to stay at the bottom regardless of the number of lines in the exerpt*/
.post-wrapper {
    min-height: 760px;
}

.read-more {
    position: absolute;
    bottom: 30px;
}

.search .read-more {
    bottom: 15px;
}

/*Modification 4: Changed back to top button colour*/
.backtotop {
    background-color: #f20000;
}

/*Modification 5: Changed boldness of homepage title*/
.featured-slider a {
    font-weight: 700;
}

/*Modification 6: Changed footer colour*/
#colophon {
    background-color: #0e0a40;
    color: rgba(255, 255, 255, 1);
}

/*Modification 7: Changed button colours to match the back to top button*/
.btn {
    border: 2px solid #f20000;
}

.btn:hover, .btn:focus {
    background-color: #f20000;
    color: #fff;
}

/*Theme Modiciation 8: Customized the contact form*/
input[type="submit"]:hover, input[type="submit"]:focus {
    background-color: #f20000;
    color: #fff;
}

button:hover, input[type="button"]:hover, input[type="reset"]:hover, input[type="submit"]:hover {border-color: #f20000;}
input[type="submit"] {border: 2px solid #f20000;}

.wpcf7 p {
    margin: 0 0 1em;
    color: rgba(255, 255, 255, 1);
    font-size: 18px;
}

input.wpcf7-form-control {margin-top: 7px;}
textarea.wpcf7-form-control.wpcf7-textarea {margin-top: 7px;}
input.wpcf7-form-control.wpcf7-text {background-color: #adadad;}
textarea.wpcf7-form-control.wpcf7-textarea {background-color: #adadad;}

/*Theme Modification 9: Underlines the breadcrumbs*/
.trail-items a {text-decoration: underline;}
li.trail-item.trail-end {text-decoration: underline;}

/*Theme Modification 10: changed the content background colour*/
.site-content {
    background-color: #191345;
}